@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1;
  color: #444;
  font-family: 'Poppins', sans-serif;
  position: relative;
  min-height: 98vh;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background-color: unset;
}

@media (max-width: 43.75rem) {
  html {
    font-size: 50%;
  }
}

.more__projects--btn {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.6rem 2rem;
  background-color: #c92c6d;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

.back__btn {
  font-size: 2.5rem;
  display: grid;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 0 1rem;
  /* padding: 0.2rem; */
  border-radius: 50%;
  background-color: #c92c6d;
  color: #fff;
}
